/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #d31d1d;
}

.navbar-brand,
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
}

.custom-button {
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 15px;
}

.custom-nav {
    font-size: 30px;
}

/* Cards */
.card {
    transition: 0.5s;
}

.card-body {
    padding: 15px;
}
.titulo-noticia {
    font-size: 1.75rem; 
    font-weight: bold;
    color: #d31d1d;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.descricao-noticia {
    font-size: 1rem;
    color: #555;
    height: 100px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card img {
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card a {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #d31d1d;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #a61717;
}

/* Layout */
.container {
    margin-top: 30px;
}

footer {
    background-color: #d31d1d;
    color: white;
    padding: 15px;
    text-align: center;
}

.img-centralizada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    object-fit: cover;
}