* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    height: 100%; 
}

html, body {
    height: 100vh;  
    margin: 0;
}
.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.navbar-brand,
h1 {
    font-family:'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.custom-button {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
}

.custom-nav {
    font-size: 30px;
}

footer {
    margin-top: 30vh;

}