* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

@font-face {
    font-family: 'Bebas';
    src: url('../font/Bebas-Regular.ttf');
}

.navbar {
    font-family: 'Bebas', sans-serif;
    color: white;
}

.navbar-brand,
h1 {
    font-family: 'Bebas', sans-serif;
    color: white;
}