* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}


.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.navbar-brand,
h1 {
    font-family:'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.custom-button {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
}
.custom-nav {
    font-size: 30px;
}

.titulo-noticia {
    font-size: 1.75rem; 
    font-weight: bold;
    color: #d31d1d;
}

.descricao-noticia {
    font-size: 1rem;
    color: #555;
}